.trapezoid {
    border-bottom: 50px solid rgba(97, 96, 96, 0.281);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 80%;
    filter: drop-shadow(0px 60px 40px #000);
}

.manHinh {
    width: 80%;
    background-color: black;
    height: 10px;
}